{% extends "base.html" %}
{% load static %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div id="container" class="container-fluid text-center bg-grey">

  <p id = "blogsTitle">Blogs</p>

  <div class="row text-center">
    {% for Blog in blogs %}
    <div class="col-sm-4">
          <div class="card" style="width: 60rem;">
          <div class="card-body">
            <h2 class="card-title">{{ Blog.user.username }}</h2>
            {% if Blog.blog_picture %}
              <img src="{{ Blog.blog_picture.url }}" alt="">
            {% else %}
            {% endif %}
            <div class="links">
              <a href="{% url 'blog' pk=Blog.pk %}" class="btn btn-primary">Go Blogging</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}